.estiloaside {font-family: 'Oswald', sans-serif;
              text-align: center;
              padding: 10px; 
            background-color: white;
          float: right; width: 27%;}
.titulomain { font-size: 25px; color: darkolivegreen;}

